/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }
.section-padding{
    padding: 115px 0;
}

.single-service-box {
    border: 2px solid #e6e6e6;
    border-radius: 3px;
    color: #333;
    display: block;
    padding: 60px 30px 30px;
    position: relative;
    text-align: center;
}
.service-icon {
    background: #54be73 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    height: 70px;
    left: 50%;
    line-height: 70px;
    margin-left: -35px;
    position: absolute;
    top: -35px;
    width: 70px;
}
.single-service-box h3 {
    font-size: 20px;
}
.single-service-box:hover {
    color: #333;
}
.single-service-box:hover h3 {
    color: #54be73;
}
.single-service-box p {
    color: #a7a7a7;
    font-size: 17px;
}
.color-2{
    background-color: #78BF4D;
}
.color-3{
    background-color: #9CC026;
}
.service-box-bg-1{
    background-image: url(../img/blog-1.jpg);
}
.service-box {
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
  height: 200px;
}

a.boxed-btn {
    background: #f8b428 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    margin-left: 40px;
    opacity: 0;
    padding: 10px;
    text-transform: uppercase;
    visibility: hidden;
}
.service-box-hover h3 {
    font-size: 20px;
    font-weight: 700;
}
.service-box-hover {
  bottom: -20px;
  left: 50px;
  position: absolute;
  transition: all 0.3s ease 0s;
  width: 100%;
  color: #fff;
}
.service-box:hover .service-box-hover {
    bottom: 35px;
}
.service-box:hover a.boxed-btn {
    opacity: 1;
    visibility: visible;
}
.bg-1{background-image: url(../img/bg-1.png);}
.bg-2{background-image: url(../img/bg-2.png);}
.bg-3{background-image: url(../img/bg-3.png);}

.single-service-bg-1 {
    background-color: #ddd;
    background-position: center center;
    background-size: cover;
    height: 220px;
}
.single-service-inner {
    border: 1px solid #f3f3f3;
    padding: 35px 20px 40px;
    text-align: center;
}
.single-service-inner {
    border-top: medium none;
}
.single-service-box-1 {
    position: relative;
}
.single-service-box-wrapper {
    bottom: -10px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
.single-service-inner h3 {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}
.single-service-inner p.service-meta {
    color: #bbbbbb;
    font-size: 12px;
    margin: 0;
    text-transform: uppercase;
}
a.bordered-box {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #f3f3f3;
    color: #999999;
    font-weight: 700;
    padding: 18px 30px;
    text-transform: uppercase;
}

.section-title h2 {
    color: #00c6ff;
    font-size: 40px;
}
.section-title-sep {
    background-color: #00c6ff;
    height: 2px;
    margin: 0 auto 20px;
    position: relative;
    width: 240px;
}
.section-title-sep::after {
    background-color: #00c6ff;
    bottom: -1px;
    content: "";
    height: 4px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
}
.section-title p {
    color: #737373;
    font-size: 15px;
}

.section-title {
    margin-bottom: 90px;
}
.signle-team-box {
    background-color: #fff;
    padding: 30px;
    text-align: center;
}
.signle-team-box img {
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
    max-width: 200px;
}
.signle-team-box span {
    color: #00bcfe;
}
.team-desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}
.team-desc span {
    margin: 10px;
}
.signle-team-box h4 {
    color: #00bcfe;
    margin-top: 20px;
    text-transform: uppercase;
}
.signle-team-box h4 span {
    color: #929292;
    display: block;
    font-size: 15px;
    font-weight: 700;
    margin-top: 5px;
}

.team-carousel .owl-nav div {
    background-color: #02c3fe;
    border-radius: 50%;
    color: #fff;
    height: 35px;
    line-height: 35px;
    margin-left: -70px;
    margin-top: -17.5px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 35px;
}
.team-carousel .owl-nav div.owl-next {
    left: auto;
    right: -70px;
}

.author-img {
  overflow: hidden;
  position: relative;
}

.author-img-hover {
  color: #777777;
  height: 100%;
  left: -100%;
  position: absolute;
  text-align: center;
  top: 0;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  width: 100%;
  z-index: 1;
}
.author-img-hover::after {
  background: #ededed none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.author-img-wrap {
  display: table;
  height: 100%;
  width: 100%;
}
.author-img-inner {
  display: table-cell;
  height: 100%;
  padding: 20px;
  vertical-align: middle;
  width: 100%;
}
.social-links a {
  color: #919191;
  display: inline-block;
  margin-top: 15px;
  padding: 5px;
}

.single-team-box-2 h4 {
  color: #333;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 5px;
  margin-top: 16px;
  text-align: center;
  text-transform: uppercase;
}
.single-team-box-2 h4 span {
    color: #bababa;
    display: block;
    font-size: 15px;
    font-weight: 300;
    margin-top: 8px;
}
.single-team-box-2:hover .author-img-hover{
    left: 0;
    visibility: visible;
}



.section-title-6 {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 50px;
}
.contact-us-form {
    font-size: 17px;
    font-weight: 400;
}
p.form-element {
    position: relative;
}
p.form-element label {
    font-size: 14px;
    left: 15px;
    position: absolute;
    text-transform: uppercase;
    top: 8px;
}
.contact-us-form input[type="text"], .contact-us-form input[type="email"], .contact-us-form textarea {
    border: 1px solid #d8d8d8;
    font-size: 14px;
    padding: 35px 15px 10px;
    transition: all 0.2s ease 0s;
    width: 100%;
}
.contact-us-form textarea {
    max-height: 150px;
}
.contact-us-form input[type="submit"] {
    background: #6d5cae none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    float: right;
    padding: 10px 32px;
}
.small-text {
    font-size: 12px;
    margin: 0;
    padding: 10px 0;
}
.contact-us-form input[type="text"]:focus, .contact-us-form input[type="email"]:focus, .contact-us-form textarea:focus {
    background-color: #f0f0f0;
}
