/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }
.section-padding{
    padding: 115px 0;
}

.single-service-box {
    border: 2px solid #e6e6e6;
    border-radius: 3px;
    color: #333;
    display: block;
    padding: 60px 30px 30px;
    position: relative;
    text-align: center;
}
.service-icon {
    background: #54be73 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    height: 70px;
    left: 50%;
    line-height: 70px;
    margin-left: -35px;
    position: absolute;
    top: -35px;
    width: 70px;
}
.single-service-box h3 {
    font-size: 20px;
}
.single-service-box:hover {
    color: #333;
}
.single-service-box:hover h3 {
    color: #54be73;
}
.single-service-box p {
    color: #a7a7a7;
    font-size: 17px;
}
.color-2{
    background-color: #78BF4D;
}
.color-3{
    background-color: #9CC026;
}
.service-box-bg-1{
    background-image: url(../img/blog-1.jpg);
}
.service-box {
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
  height: 200px;
}

a.boxed-btn {
    background: #f8b428 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    margin-left: 40px;
    opacity: 0;
    padding: 10px;
    text-transform: uppercase;
    visibility: hidden;
}
.service-box-hover h3 {
    font-size: 20px;
    font-weight: 700;
}
.service-box-hover {
  bottom: -20px;
  left: 50px;
  position: absolute;
  transition: all 0.3s ease 0s;
  width: 100%;
  color: #fff;
}
.service-box:hover .service-box-hover {
    bottom: 35px;
}
.service-box:hover a.boxed-btn {
    opacity: 1;
    visibility: visible;
}
.bg-1{background-image: url(../img/bg-1.png);}
.bg-2{background-image: url(../img/bg-2.png);}
.bg-3{background-image: url(../img/bg-3.png);}

.single-service-bg-1 {
    background-color: #ddd;
    background-position: center center;
    background-size: cover;
    height: 220px;
}
.single-service-inner {
    border: 1px solid #f3f3f3;
    padding: 35px 20px 40px;
    text-align: center;
}
.single-service-inner {
    border-top: medium none;
}
.single-service-box-1 {
    position: relative;
}
.single-service-box-wrapper {
    bottom: -10px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
.single-service-inner h3 {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}
.single-service-inner p.service-meta {
    color: #bbbbbb;
    font-size: 12px;
    margin: 0;
    text-transform: uppercase;
}
a.bordered-box {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #f3f3f3;
    color: #999999;
    font-weight: 700;
    padding: 18px 30px;
    text-transform: uppercase;
}
